*.zwc
**/*.swp
*.pyo
*.elc
.config/fish/conf.d/
.config/fish/fish_variables
.config/fish/functions/*.copy
.config/fish/functions/fish_user_key_bindings.fish
.config/fish/functions/fzf_key_bindings.fish
.config/nvim/plugged/
.config/nvim/.netrwhist
.mutt/edu.tamu.apilsch
.mutt/com.gmail.oncomouse
__pycache__

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
