**/*.swp
.config/fish/conf.d/
.config/fish/fish_variables
.config/fish/functions/*.copy
.config/fish/functions/fish_user_key_bindings.fish
.config/fish/functions/fzf_key_bindings.fish
.config/nvim/plugged/
.config/nvim/.netrwhist
.mutt/edu.tamu.apilsch
.mutt/com.gmail.oncomouse
