[Desktop Entry]
Name=redshift
Comment=Redshift
TryExec=/usr/bin/redshift
Exec=/bin/sh -c "/usr/bin/pkill redshift; /usr/bin/redshift"
Terminal=false
Type=Application
