@import "/home/andrew/.cache/wal/colors.scss";
$bar-font-size: 14px;

* {
    all: unset;
}

.river-bar {
    font-family: "FiraCode Nerd Font";
	padding: 0;
    background: $color0;
	color: $color7;
}


.tag-inactive {
    font-size: $bar-font-size;
	padding: 0 0.5em;
    color: $color7;
}

.tag-active{
    font-size: $bar-font-size;
	padding: 0 0.5em;
    color: $color8;
	background: $color6;
}

.current-window {
	all: unset;
    //margin-right: 10px;
	// font-weight: bold;
	font-size: $bar-font-size;
	padding: 2px 3px;
	color: $color7;
	//background: #303030;
	// color: #fc7216;
	//border: 1px solid #D2C26A;
	//border-radius: 8px;
}

.daily-date {
	padding-right: 0.5em;
	font-size: $bar-font-size;
}

.zypper-box {
	color: #81c13b;
	font-size: $bar-font-size;
}

.spotify-text {
	color: #1DB954;
	font-size: $bar-font-size;
	padding-right: 300px;
}

.opensuse-logo {
	font-size: 18px;
	padding-right: 2px;
}
.volume-box {
	color: #acce31;
	padding: 0px;
	font-size: $bar-font-size;
}
.network-text {
	color:  #708ff4;
	font-size: $bar-font-size;
}

.brightness {
	color: #e8de5c;
	font-size: $bar-font-size;
}

.metric scale trough highlight {
  all: unset;
  background-color: #edece1;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #edece1;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 3px;
}

.ram {
 	color: #e2a936;
}

.storage {
	color: #d55ce8;
}

.battery {
	color: #53c12e;
}

.cpu {
	color: #ba9377;
}
