@import "/home/andrew/.cache/wal/river-colors.css";

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Hack Nerd Font", monspace;
    font-size: 9pt;
    min-height: 0;
}

window#waybar {
	background: @color0;
}

#tags button {
	padding: 0 2px;
	margin: 0;
	color: @color15;
	background: transparent;
}

#tags button.focused {
	color: @color0;
	background: @color6;
}

#tags button.urgent {
	color: @color0;
	background: @color1;
}

#custom-river_title {
	margin-left: 0.25em;
}
