* {{
  background: {background};
  foreground: {foreground};
  active-background: {color6};
  active-foreground: {background};
  background-alt: {color8};
  border: {color4};
  border-alt: {color12};
  selected: {color8};
  urgent: {color1};
}}
