// =========================
// █▀▀ █▀█ █░░ █▀█ █▀█ █▀
// █▄▄ █▄█ █▄▄ █▄█ █▀▄ ▄█
// =========================
$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;


* {
  all: unset;
  font-family: "Fira Sans";
}

// =========================================
// █▀█ █░█ █▀▀ █▀█ █░░ ▄▀█ █▄█   █▄▄ ▄▀█ █▀█
// █▄█ ▀▄▀ ██▄ █▀▄ █▄▄ █▀█ ░█░   █▄█ █▀█ █▀▄
// =========================================
.progressBar {
  $borderRadius: 50px;
  $barWidth: 50px;
  $barColor: $overlay1;
  $borderColor: $overlay1;

  background: transparent;
  border: 10px solid $borderColor;
  padding: 2px 8px;
  border-radius: $borderRadius;

  label {
    color: $barColor;
    margin-top: 0;
    font-size: 40px;
    margin-left: -10px;
    margin-bottom: -30px;
  }

  progressbar trough {
    min-height: 600px;
    min-width: $barWidth - 20;
    background: transparent;
    border-radius: $borderRadius;
  }

  progressbar trough progress {
    background: $barColor;
    margin-bottom: -3px;
    min-width: $barWidth;
    border-radius: 0 0 $borderRadius $borderRadius;
  }
}

.osd__bg {
  background: transparentize($surface0, 0.6);
}
.osd__container {
  padding: 10px;
}

.genwin {
  background: transparentize($surface0, 0.2);
  border-radius: 16px;
}

/** Weather ******************************/
.weather__icon {
  font-family: FiraCode Nerd Font;
  font-size : 120px;
  font-weight : normal;
  margin : 15px 0px 0px 30px;
}

.weather__temp {
  color : $text;
  font-size : 80px;
  font-weight : bold;
  margin : -15px 30px 0px 0px;
}

.weather__stat {
  color : $red;
  font-size : 38px;
  font-weight : bold;
}

.weather__quote {
  color: $rosewater;
  font-size : 18px;
  font-weight : normal;
}

.weather__quote--last {
  margin-bottom: 18px;
}

/** Clock ********************************************/
.time__time {
	color: $blue;
	font-size : 70px;
	font-weight : bold;
}

.time__day {
	color: $lavender;
	font-size : 40px;
	font-weight : bold;
}

.time__date {
	color: $yellow;
	font-size : 30px;
	font-weight : normal;
	margin-bottom: 18px;
}
