@import "~/.cache/wal/dmenu.rasi"

* {
  background-color: @background;
  border-color: @border;
  text-color: @foreground;
}

prompt {
  padding: 0 0.25em 0 0;
  background-color: @active-background;
  text-color: @active-foreground;
}

element {
    padding: 0px 2px;
}

element-icon selected {
	background-color: @active-background;
}
element-text selected {
	background-color: @active-background;
	text-color: @active-foreground;
}
element selected {
    background-color: @active-background;
}
