[Unit]
Description=sxhkd init service
Documentation=man:sxhkd(1)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Restart=always
RestartSec=2
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID
ExecStart=/usr/bin/sxhkd

[Install]
WantedBy=default.target
