[Unit]
Description=lightson+
PartOf=graphical-session.target

[Service]
ExecStart=sh ${HOME}/dotfiles/scripts/lightson+ -d 2
Restart=always

[Install]
WantedBy=xsession.target
