[Unit]
Description=Seadrive mount of user files
After=network-online.target

[Service]
Environment=SEADRIVE_CONFIG_FILE="%h/.config/seadrive/seadrive.conf"
Environment=SEADRIVE_DATA_DIR="%h/.local/share/seadrive/data/"
Environment=SEADRIVE_LOG_FILE="%h/.local/share/seadrive/logs/seadrive.log"
Environment=SEADRIVE_MOUNT_DIR="%h/Seadrive"
ExecStart=/usr/bin/seadrive \
  -f \
  -c ${SEADRIVE_CONFIG_FILE} \
  -d ${SEADRIVE_DATA_DIR} \
  -l ${SEADRIVE_LOG_FILE} \
  ${SEADRIVE_MOUNT_DIR}
Restart=always
ExecStopPost=/bin/sh -c 'fusermount -uz ${SEADRIVE_MOUNT_DIR}; exit 0'

[Install]
WantedBy=default.target 
